/* nav style */
nav{
    margin: 0 15px;
}
.nav-logo{
    display: flex;
    gap: 10px;
    font-weight: bold;
}
.logo-title{
    color: rgb(250, 14, 93);
}
.logo{
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.btn-follow{
    background-color: rgb(223, 217, 217);
    padding: 10px;
    border-radius: 10px;
}

/* banner style */

.banner-container{
    margin-top: 10px;
    min-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.banner-details{
    width: 100%;
    background-image: url(../images/Group\ 14.png);
    margin: 0 30px;
    padding: 50px;
}

.banner-photo-image{
    margin-left: 50px;
    width: 80%;
    height: 90%;
}
.banner-text{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}
.banner-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: rgb(184, 56, 248);
    font-weight: bold;
    padding: 10px;
}
.banner-list{
    list-style: none;
   
}
.banner-btn-1{
    background-color: #ec12bdfa;
   padding: 5px;
   color: white;
   border-radius: 20px;
   border: none;
}
.banner-btn-2{
    background-color: #21ceecfa;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
}

/* main section */
.main-container{
    padding: 20px;
    min-height: 50px;
    background-color:#faf6f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-image-photo{
    padding: 10px;
    height: 80%;
    width: 80%;
}

.main-content{
    padding: 10px;
    width: 500px;
    text-align: right;
    margin-right: 30px;
}

.main-title{
    color:  rgb(232, 93, 250);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-btn{
    background-color: #ec12bdfa;
    color: white;
    padding: 20px;
    border-radius: 30px;
    border: none;
    
}
.unleash-dis{
    font-size: 25px;
}
.online-game{
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.game-title{
    color: rgb(232, 93, 250);;
}
.online-game-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
}

.photo-1{
    height: 300px;
    width: 600px;
}
.photo-2{
    height: 300px;
    width: 600px;
}

.photo-3{
    height: 300px;
    width: 600px;
}
.photo-4{
    height: 300px;
    width: 600px;
}
.ttt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}


/* play section */


.play-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.play-content{
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    margin-right: 50px;
    text-align: right;
}
.play-title{
    color: rgb(232, 93, 250);
    font-size: 40px;
}
.play-image{
    width: 50%;
}

.play-photo{
    height: 400px;
    width: 300px;
    margin-left: 40px;
}
.play-dis{
    font-size: 20px;
}















/* media query */

/* dextop site */
@media screen and (max-width:992px) {
   .online-game{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
    
}










/* mobile ste */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .main-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
        padding-left: 50px;
    }
    .main-content{
        align-items: center;
        width: 500px;
        margin-right: 50px;
    }
    .online-game-image{
        flex-direction: column;

    }
    
    .play-section{
        flex-direction: column;
    }
}